/.idea
/.vscode
/templates_c
/tmp
/config/server.php
/controller/elapi.php
/controller/sapi.php

/data/cache
/data/originals
/data/products/cache
/data/products/originals
/data/board/cache*
/data/board/originals*
/data/pets/cache*
/data/pets/originals*
/data/mail/*

/public/media/*

/filedb*